.center-box{
background-color: blue;
    height: 600px;
    width: 900px;
display: flex;
    justify-content: center;
align-items: center;

}

.center-item{
    background-color: #FFFDD0;    ;
 width: 100px;
 height: 100px;      
}

.navbar{

display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(0, 140, 255);

}

.navbar .icon{

width: 80px;

}

.navbar #header{

    color: white;
}

.navbar .nav_links{
display: flex;
justify-content: space-between;
list-style-type: none; 

}

.navbar .nav_links >li {

margin-left: 30px;
margin-right: 30px;
list-style-type: none; 

}

.navbar .nav_links li a {
    color: white;
        text-decoration: none;

}